{% if CAREER_SUMMARY %}
<section class="section summary-section">
    <h2 class="section-title"><span class="icon-holder"><span class="user"></span></span> Career Profile</h2>
    <div class="summary">
        <p>{{ CAREER_SUMMARY }}</p>
    </div><!--//summary-->
</section><!--//section-->
{% endif %}