{% if EDUCATIONS %}
<div class="education-container container-block">
	<h2 class="container-block-title">Education</h2>
	{% for education in EDUCATIONS %}
    <div class="item">
	    <div class="degree">{{ education['degree'] }}</div>
	    <div class="meta">{{ education['meta'] }}</div>
	    <div class="time">{{ education['time'] }}</div>
	</div><!--//item-->
	{% endfor %}
</div><!--//education-container-->
{% endif %}
