{% if EXPERIENCES %}
<section class="section experiences-section">
    <h2 class="section-title"><span class="icon-holder"><span class="briefcase"></span></span> Experiences</h2>
    {% for experience in EXPERIENCES %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ experience['job_title'] }}</h3>
                <div class="time">{{ experience['time'] }}</div>
            </div><!--//upper-row-->
            <div class="company">{{ experience['company'] }}</div>
        </div><!--//meta-->
        <div class="details">
            <p>{{ experience['details'] }}</p>
        </div><!--//details-->
    </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}