<footer class="footer">
    <div class="text-center">
        <small class="copyright">Designed with <span class="fa-heart"></span> by <a href="http://themes.3rdwavemedia.com" rel="nofollow">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->