{% if PROJECTS %}
<section class="section projects-section">
    <h2 class="section-title"><span class="icon-holder"><span class="archive"></span></span> Projects</h2>
    <div class="intro">
        <p>{{ PROJECT_INTRO }}</p>
    </div><!--//intro-->
    {% for project in PROJECTS %}
        <div class="item">
            <span class="project-title"><a href="{{ project['link'] }}">{{ project['title'] }}</a></span> - 
            <span class="project-tagline">{{ project['tagline'] }}</span>
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}