<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
 
<aside class="sidebar-wrapper">
    <div class="profile-container">
        <picture>
            <source class="profile" srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC | replace('jpeg', 'webp') }}{% else %}profile.webp{% endif %}" type="image/webp">
            <source class="profile" srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC | replace('jpeg', 'avif') }}{% else %}profile.avif{% endif %}" type="image/avif"> 
            <source class="profile" srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.jpg{% endif %}" type="image/jpeg"> 
            <img class="profile img-fluid" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.png{% endif %}" alt="{% if NAME %}{{NAME}}{% else %}profile picture{% endif %}" width="180" height="180" />
        </picture>
        <h1 class="name">{% if NAME %}{{NAME}}{% else %}Alan Doe{% endif %}</h1>
        {% if TAGLINE %}<h3 class="tagline">{{TAGLINE}}</h3>{% endif %}
    </div><!--//profile-container-->
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
           
           {% if EMAIL %}
            <li class="email"> <a href="mailto:{{EMAIL}}">{{EMAIL}}</a></li>
            {% else %}
            <li class="email"> <a href="mailto:yourname@email.com">alan.doe@website.com</a></li>
            {% endif %}
            
            {% if PHONE %}
            <li class="phone"> <a href="tel:{{ PHONE | replace('(', '') | replace(')', '') | replace(' ', '') }}">{{PHONE}}</a></li>
            {% else %}
            <li class="phone"> <a href="tel:012 345 6789">012 345 6789</a></li>
            {% endif %}
            
            {% if LOCATION %}
            <li class="location"> <span>{{LOCATION}}</span></li>
            {% else %}
            <li class="location"> <span>Rovaniemi</span></li>
            {% endif %}
            
            {% if WEBSITE %}
            <li class="website"> <a href="https://{{WEBSITE}}">{{WEBSITE}}</a></li>
            {% else %}
            <li class="website"> <a href="https://blog.webjeda.com">blog.webjeda.com</a></li>
            {% endif %}
            
            {% if LINKEDIN %}
            <li class="linkedin"> <a href="https://in.linkedin.com/in/{{LINKEDIN}}">linkedin.com/in/{{LINKEDIN}}</a></li>
            {% else %}
            <li class="linkedin"> <a href="https://in.linkedin.com/in/sharath-kumar-87669956">linkedin.com/in/sharathdt</a></li>
            {% endif %}
            
            {% if GITHUB %}
            <li class="github"> <a href="https://github.com/{{GITHUB}}">github.com/{{GITHUB}}</a></li>
            {% else %}
            <li class="github"> <a href="https://github.com/username">github.com/username</a></li>
            {% endif %}
            
            {% if GITLAB %}
            <li class="gitlab"> <a href="https://gitlab.com/{{GITLAB}}">gitlab.com/{{GITLAB}}</a></li>
            {% else %}
            <li class="gitlab"> <a href="https://gitlab.com/username">gitlab.com/username</a></li>
            {% endif %}
            
            {% if TWITTER %}
            <li class="twitter"> <a href="https://twitter.com/{{TWITTER}}">{{TWITTER}}</a></li>
            {% else %}
            <li class="twitter"> <a href="https://twitter.com/@elonmusk">@elonmusk</a></li>
            {% endif %}
            
            {% if KEYBASE %}
            <li class="keybase"> <a href="https://keybase.io/{{KEYBASE}}">keybase.io/{{KEYBASE}}</a></li>
            {% else %}
            <li class="keybase"> <a href="https://keybase.io/null">keybase.io/null</a></li>
            {% endif %}
            
            {% if MASTODON %}
            {% set mas = MASTODON.split('@') %}
            <li class="mastodon"> <a href="https://{{ mas[2] }}/@{{ mas[1] }}" rel="me">@{{mas[1]}}/@{{ mas[2] }}</a></li>
            {% else %}
            <li class="mastodon"> <a href="https://mastodon.social/@user">@user@mastodon.social</a></li>
            {% endif %}

        </ul>
    </div><!--//contact-container-->
   {% include 'includes/education.html' %}
   {% include 'includes/language.html' %}
   {% include 'includes/interests.html' %}
   </aside><!--//sidebar-wrapper-->
