{% macro random_int() %}{% for n in [0,1,2,3,4,5] %}{{ ['a','b','c','d','e','f','g','h','i','j']|random }}{% endfor %}{% endmacro %}

{% if SKILLS %}
<section class="skills-section section">
    <h2 class="section-title"><span class="icon-holder"><span class="rocket"></span></span> Skills &amp; Proficiency</h2>
    <div class="skillset">        
    {% for skill in SKILLS %}
        {% set parts = [random_int(), random_int(), random_int()] %}
        {% set unique_id = parts|join('-') %}

        <div class="item">
            <h3 class="level-title" id="{{ unique_id }}">{{ skill['title' ]}}</h3>
            <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" aria-labelledby="{{ unique_id }}" role="progressbar" aria-label="{{ skill['title' ]}} {{ skill['level'] }}%" style="width: {{ skill['level'] }}%" aria-valuenow="{{ skill['level'] }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
    {% endfor %}
    </div>  
</section><!--//skills-section-->
{% endif%}