/*! 
 * Template Name: Orbit - Bootstrap 5 Resume/CV Template for Developers
 * Version: Bootstrap 5 v2.0
 * Author: Xiaoying Riley
 * Copyright: 3rd Wave Media
 * Twitter: @3rdwave_themes
 * Website: http://themes.3rdwavemedia.com/
*/


$fa-font-path: "@fortawesome/fontawesome-free/webfonts";



//*************************** Theme Colours ****************************/
// Define theme colour scheme
$theme-color: #34515E; //#4B6A78;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #4f5a65; //#97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
$text-tertiary: #c8f7c5; //rgba(256, 256, 256, 0.6);

$font-family: 'Prompt';



