<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="{{ ROBOTS }}">
    {#
        <link href='//fonts.googleapis.com/css?family=Prompt::400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fontawesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    #}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    {% if JS_LOCATION %}
    <script src="{{ JS_LOCATION }}"></script>
    {% else %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bundle.js"></script>
    {% endif %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
    {% endif %}
    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ FAVICON }}" type="image/x-icon">
    {% endif %}
    <link rel="canonical" href="https://hnn.nu/">
    {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% endif %}

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    {% endblock %}
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Kalmar",
        "addressRegion": "Kalmar län",
        "postalCode": "N\A",
        "streetAddress": "N\A"
        },
        "honorificPrefix": "Mr",
        "gender": "Male",
        "email": "mailto:henrik<at>b6<dot>.se",
        "image": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.png{% endif %}",
        "jobTitle": "Developer",
        "name": "Henrik Norrman",
        "telephone": "+46706194200",
        "url": "https://hnn.nu"
    }
    </script>

</head>

<body>
    {% include 'github.html' %}
    {% block content %}
    {% endblock %}
    {% include 'includes/footer.html' %}
    {#
        <footer class="footer">
            <div class="text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank" rel="nofollow">Xiaoying Riley</a> for developers</small>
                <br>
                <small class="copyright">Ported to Pelican with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank" rel="nofollow">Suhaib Khan</a></small>
            </div><!--//container-->
        </footer><!--//footer-->
    #}
    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}

    {#}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
    #}

</body>
</html>
