{% extends "base.html" %}

{% block content %}



<main class="wrapper mt-lg-5">
    {% include 'includes/sidebar.html' %}
    <article class="main-wrapper">
       
        {% include 'includes/career-profile.html' %}
                    
        {% include 'includes/experience.html' %}
                    
        {% include 'includes/projects.html' %}
                    
        {% include 'includes/skills.html' %}
        
    </article><!--//main-body-->
</main>

{% endblock %}
