@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic&display=swap');
@import "bootstrap/scss/bootstrap.scss";

@import "includes/variables";

@import "includes/base";
@import "includes/mixins";
@import "includes/responsive";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";

// our project needs Solid + Brands
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
//@import "./fontawesome/scss/regular.scss";

.profile-container {
  img.profile {
    border-radius: 100%;
  }
}

.contact-list {

  a, span {
    font-family: $font-family;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .email {
    @extend %fa-icon; /* correct */
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-envelope);
    }
  }
  
  .phone {
    @extend %fa-icon; /* correct */
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-phone);
    }
  }
  
  .twitter {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-twitter);
    }
  }
  
  .location {
    @extend %fa-icon; /* correct */
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-location-dot);
    }
  }
  
  .website {
    @extend %fa-icon; /* correct */
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-globe);
    }
  }
  
  .linkedin {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-linkedin);
    }
  }
  
  .github {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-github);
    }
  }
  
  .gitlab {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-gitlab);
    }
  }
  
  .keybase {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-keybase);
    }
  }
  
  .mastodon {
    @extend %fa-icon; /* correct */
    @extend .fab;
  
    &:before {
      content: fa-content($fa-var-mastodon);
    }
  }
}

small.copyright {
  .fa-heart {
    @extend %fa-icon; /* correct */
    @extend .fas;

    &:before {
      content: fa-content($fa-var-heart);
    }
  }
  
}

.icon-holder {
  .user {
    @extend %fa-icon; /* correct */
    @extend .fas;

    margin-top: 4px;

    &:before {
      content: fa-content($fa-var-user);
    }
  }

  .briefcase {
    @extend %fa-icon; /* correct */
    @extend .fas;

    margin-top: 4px;

    &:before {
      content: fa-content($fa-var-briefcase);
    }
  }


  .archive {
    @extend %fa-icon; /* correct */
    @extend .fas;

    margin-top: 4px;

    &:before {
      content: fa-content($fa-var-archive);
    }
  }

  .rocket {
    @extend %fa-icon; /* correct */
    @extend .fas;

    margin-top: 4px;

    &:before {
      content: fa-content($fa-var-rocket);
    }
  }
}

